.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px;
  height: 50px;
  position: relative;
  border: 1px solid #ccc;
  /* border-radius: 20px; */
  padding: 10px;
  background-color: #fff;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  /* border-radius: 20px; */
  padding-left: 20px;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.send-icon {
  width: 24px;
  height: 24px;
}
